@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    display: flex;
    margin: 0%;
    background-color: black;
    color: antiquewhite;
    gap: 10%;
    overflow: hidden;
    font-family: 'Lobster', cursive;
}

.image{
    height: 100vh;
    width: 35%;
    min-width: 35%;
    min-height: auto;
    max-height: 100%;
    position: relative;
}

img{
    height: 100%;
    width: 100%;
}

.imgHeader>svg{
    fill: yellowgreen;
    width: 15%;
    height: 15%;
}

.imgHeader>div{
    color: white;
    font-size: xxx-large;
    font-weight: bolder;
}

.imgHeader{
    display: flex;
    position: absolute;
    top: 10%;
    width: 100%;
    background-color: #000000d9;
    align-items: center;
    justify-content: center;
}

.imgFooter{
    position: absolute;
    bottom: 14px;
    color: #ffffff;
    display: flex;
    left: 20%;
    font-weight: bolder;
}

.imgFooter>a{
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.imgFooter>a:hover{
    color: greenyellow;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headPara{
    text-align: justify;
    margin-bottom: 10px;
    width: 50%;
    font-size: xx-large;
    font-weight: bold;
}

.headForm{
    margin-bottom: 10%;
    font-size: x-large;
    font-weight: bold;
}

.labelRow{
    display: flex;
    gap: 10%;
    margin-bottom: 12px;
}

.labelRow:last-of-type{
    margin-bottom: 10%;
}

.labelContainer{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

label{
    position: absolute;
    color: black;
    transition: ease all 0.3s;
    font-size: large;
    font-weight: bold;
    padding: 2px;
}

input:not(:placeholder-shown)~label,input:focus:not(:placeholder-shown)~label,input:focus-within~label{
    transform: translateY(-30px);
    color: white;
    transition: ease all 0.3s;
}

input:focus{
    outline: none;
    border: 5px solid skyblue;
    transition: border-color ease-in 0.3s;
}

input:invalid:focus:not(:placeholder-shown),input:invalid:not(:focus):not(:placeholder-shown){
    outline: none;
    border: 5px solid red;
}

input:valid:focus:not(:placeholder-shown),input:valid:not(:focus):not(:placeholder-shown){
    outline: none;
    border: 5px solid green;
}

input{
    width: 20rem;
    border-radius: 4px;
    height: 30px;
    border: 1px solid black;
}

input::placeholder{
    visibility: hidden;
}

input:focus::placeholder{
    visibility: visible;
}

.form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 5px 0px;
    padding-left: 5px;
}

a{
    color: darkorchid;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}

button{
    background-color: chartreuse;
    border-radius: 8px;
    height: 50px;
    width: fit-content;
    margin: 10px 0px;
    font-weight: bold;
    font-size: medium;
    font-family: 'Lobster', cursive;
}

button:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}

button:active{
    background-color: #ffffff;
    color: black;
    transition: all 0.1s;

}

a:hover{
    color:red;
}